---

---

<section class="my-16 mx-6
  sm:mx-24
  md:mx-36">
	<div class="mb-16">
		<h1 class="header text-4xl font-semibold flex flex-col w-max">About</h1>
		<div class="space-y-4 text-base leading-[180%]">
			<p class="">
				Joseph A. Ajienka, is the Emmanuel Egbogah Chair and Professor of
				Petroleum Engineering, University of Port Harcourt. In 1992, he was a
				Visiting Lecturer, Department of Fuel and Energy, University of Leeds.
				He was the pioneer Director of the Institute of Petroleum Studies
				(2003-2010), an international collaborative graduate school between the
				University of Port Harcourt and the IFP School Paris in partnership with
				NNPC/TOTAL Joint Venture, the pioneer example of a Triple Helix
				institution in Nigeria. He was the 7th Vice-Chancellor, University of
				Port Harcourt (2010-2015). He was a member of the Governing Council of
				the University (2006-2007; 2010-2015) and Governing Board of the
				Institute (2003-2010); Head Department of Petroleum Engineering
				(1995-1997).
			</p>
			<p>
				Professor Ajienka was member Governing Board of African Virtual
				University (AVU) based in Kenya (2013-2015) and Visiting Lecturer,
				Department of Fuel and Energy, University of Leeds (1992). He was
				Chairman, Committee of Vice-Chancellors (CVC) of Federal Universities
				and Chairman Association of Vice-Chancellors of Nigerian Universities
				(AVCNU), 2014-2015. He is a member of the Board of the National
				Universities Commission (NUC) and the Board of National Office of
				Technology Acquisition and Promotion (NOTAP). He is a Director of
				PetroNet-Africa and member Board of Trustees of the Nigerian Society of
				Petroleum Engineers (SPE).
			</p>
			<p>
				A registered Engineer (COREN), registered Safety Practitioner (ISPON)
				and registered Environmental Practitioner (NREP, USA), Professor Ajienka
				is Fellow, Nigerian Academy of Engineering and Fellow, Nigerian Society
				of Engineers. He is also Fellow, Institute of Petroleum Studies; Fellow,
				Nigerian Environmental Society; Fellow, Institute of Industrial
				Administration; Fellow, Nigerian Institute of Management and Fellow,
				Institute of Safety Professionals of Nigeria (ISPON). He is also a
				Member of the international Society of Petroleum Engineers (SPE) and the
				Energy Institute (UK). He was awarded honorary Degree of the IFP School,
				Paris (2017).
			</p>
			<p>
				Professor Ajienka has over 200 publications, 4 patents, software
				applications and won several Awards. He is an advocate of Education for
				Sustainable Development (ESD), Triple Helix Plus+ of
				Government-Academia-Industry collaboration in partnership with
				professional bodies and the development of entrepreneurial universities.
				He is an advocate of a change of paradigm from publish or perish to
				patent-publish-produce. During his tenure as Vice-Chancellor, the
				University of Port Harcourt was the first in the Nigerian University
				System to appoint a Deputy Vice-Chancellor for Research and Development.
				He re-engineered the University to become an entrepreneurial university
				with many landmark Research Institutes and Centres, the United Nations
				University Regional Centre for Sustainable Development and the World
				Bank Africa Centre of Excellence for Oilfield Chemicals Research. Under
				his tenure, the Times Higher Education (THE) in 2015 ranked the
				University as the first in Nigeria, 6th in Africa and about 250 in the
				world on Research Influence. He also set up the first University
				Foundation in Nigeria to secure the future of the university.
			</p>
			<p>
				Professor Ajienka is married to Mrs Mercy Finelady Ajienka (nee
				Isodiki). The marriage is blessed with three children - Mrs Orabelema
				Kalamba Anene, Dr Nemitari Miebaka Ajienka (Senior Lecturer UK) and
				Soala Lolia Ajienka (Architect, UK); and two granddaughter Nulu-Onu-Nna
				and Naefe-Nna.
			</p>
		</div>
	</div>
	<div
		class="flex flex-col lg:flex-row items-center lg:items-start gap-6 w-full"
	>
		<div class="lg:w-[30%] max-w-[500px]">
			<img
				src="/images/photograph.png"
				alt="There is a problem loading the image"
				class="w-full rounded-2xl"
			/>
		</div>
		<div class="lg:ml-8 lg:w-[70%]">
			<h2 class="text-2xl font-semibold">
				PhD, FAEng, FNSE, FIPS, FNIIA, FNIM, FISPON, FNES, PE (COREN, Nigeria),
				M. Inst. Pet. (Lond.), SPE, REP (USA) Hon. Degree, IFP School, Paris
			</h2>
			<p class="text-base mt-3 italic max-w-[600px] mb-8">
				Emmanuel Egbogah Chair/Professor of Petroleum Engineering Department of
				Petroleum & Gas Engineering
			</p>
			<ul class="about-me space-y-6">
				<li>
					<span class="font-semibold">Birthday:</span> 10 January 1955
				</li>
				<li><span class="font-semibold">Age:</span> 69</li>
				<li>
					<span class="font-semibold">State or Origin:</span> Rivers State
				</li>
				<li>
					<span class="font-semibold">Email:</span>
					email@example.com
				</li>
			</ul>
		</div>
	</div>
	<!-- <div
		class="flex gap-x-4 gap-y-8 mt-12 sm:mt-16 lg:mt-32 mb-20 flex-wrap justify-center"
	>
		<div class="flex gap-x-4">
			<i class="fa-light fa-face-smile text-5xl text-[#3aa7e2] mt-2"></i>
			<div class="max-w-44">
				<h2 class="text-6xl font-bold mb-4">232</h2>
				<p class="text-gray-500">
					<strong>Happy Clients</strong> consequuntur quae
				</p>
			</div>
		</div><div class="flex gap-x-4">
			<i class="fa-solid fa-headset text-5xl text-[#3aa7e2] mt-2"></i>
			<div class="max-w-44">
				<h2 class="text-6xl font-bold mb-4">232</h2>
				<p class="text-gray-500">
					<strong>Happy Clients</strong> consequuntur quae
				</p>
			</div>
		</div><div class="flex gap-x-4">
			<i class="fa-solid fa-headset text-5xl text-[#3aa7e2] mt-2"></i>
			<div class="max-w-44">
				<h2 class="text-6xl font-bold mb-4">232</h2>
				<p class="text-gray-500">
					<strong>Happy Clients</strong> consequuntur quae
				</p>
			</div>
		</div><div class="flex gap-x-4">
			<i class="fa-solid fa-file-user text-5xl text-[#3aa7e2] mt-2"></i>
			<div class="max-w-44">
				<h2 class="text-6xl font-bold mb-4">232</h2>
				<p class="text-gray-500">
					<strong>Happy Clients</strong> consequuntur quae
				</p>
			</div>
		</div>
	</div> -->
</section>
<style>
	.header::after {
		content: '';
		width: 60%;
		background-color: #3aa7e2;
		height: 4px;
		margin-block: 1.5rem;
	}
	.about-me li::before {
		content: '>';
		color: #3aa7e2;
		margin-right: 6px;
	}
	@media (max-width: 512px) {
		.about-me > li {
			flex: 100%;
		}
	}
</style>
