---

---

<section class="my-16 mx-6
  sm:mx-24
  md:mx-36">
  <div class="mb-16">
    <h1 class="header text-4xl font-semibold flex flex-col w-max">About</h1>
    <p class="text-lg">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
      quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
      sit in iste officiis commodi quidem hic quas.
    </p>
  </div>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-start gap-6 w-full"
  >
    <div class="lg:w-[30%] max-w-[500px]">
      <img
        src="/images/photograph.jpg"
        alt="There is a problem loading the image"
        class="w-full"
      />
    </div>
    <div class="lg:w-[70%]">
      <h2 class="text-2xl font-semibold">UI/UX Designer & Web Developer.</h2>
      <p class="text-lg italic my-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <ul class="about-me flex gap-y-6 gap-x-4 flex-wrap">
        <li class="flex-[40%]">
          <span class="font-semibold">Birthday:</span> 1 May 1995
        </li>
        <li class="flex-[40%]"><span class="font-semibold">Age:</span> 30</li>
        <li class="flex-[40%]">
          <span class="font-semibold">Website:</span> www.example.com
        </li>
        <li class="flex-[40%]">
          <span class="font-semibold">Degree:</span> Master
        </li>
        <li class="flex-[40%]">
          <span class="font-semibold">Phone:</span>
          +123 456 7890
        </li>
        <li class="flex-[40%]">
          <span class="font-semibold">Email:</span>
          email@example.com
        </li>
        <li class="flex-[40%]">
          <span class="font-semibold">City:</span> New York, USA
        </li>
        <li class="flex-[40%]">
          <span class="font-semibold">Freelance:</span> Available
        </li>
      </ul>
      <p class="text-lg mt-7">
        Officiis eligendi itaque labore et dolorum mollitia officiis optio vero.
        Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt
        officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis
        quidem quia. Sed et consectetur qui quia repellendus itaque neque.
      </p>
    </div>
  </div>
  <div
    class="flex gap-x-4 gap-y-8 mt-12 sm:mt-16 lg:mt-32 mb-20 flex-wrap justify-center"
  >
    <div class="flex gap-x-4">
      <i class="fa-light fa-face-smile text-5xl text-[#3aa7e2] mt-2"></i>
      <div class="max-w-44">
        <h2 class="text-6xl font-bold mb-4">232</h2>
        <p class="text-gray-500">
          <strong>Happy Clients</strong> consequuntur quae
        </p>
      </div>
    </div><div class="flex gap-x-4">
      <i class="fa-solid fa-headset text-5xl text-[#3aa7e2] mt-2"></i>
      <div class="max-w-44">
        <h2 class="text-6xl font-bold mb-4">232</h2>
        <p class="text-gray-500">
          <strong>Happy Clients</strong> consequuntur quae
        </p>
      </div>
    </div><div class="flex gap-x-4">
      <i class="fa-solid fa-headset text-5xl text-[#3aa7e2] mt-2"></i>
      <div class="max-w-44">
        <h2 class="text-6xl font-bold mb-4">232</h2>
        <p class="text-gray-500">
          <strong>Happy Clients</strong> consequuntur quae
        </p>
      </div>
    </div><div class="flex gap-x-4">
      <i class="fa-solid fa-file-user text-5xl text-[#3aa7e2] mt-2"></i>
      <div class="max-w-44">
        <h2 class="text-6xl font-bold mb-4">232</h2>
        <p class="text-gray-500">
          <strong>Happy Clients</strong> consequuntur quae
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .header::after {
    content: "";
    width: 60%;
    background-color: #3aa7e2;
    height: 4px;
    margin-block: 1.5rem;
  }
  .about-me li::before {
    content: ">";
    color: #3aa7e2;
    margin-right: 6px;
  }
  @media (max-width: 512px) {
    .about-me > li {
      flex: 100%;
    }
  }
</style>
