<section class="my-16 mx-6
  sm:mx-24
  md:mx-36">
  <div class="mb-16">
    <h1 class="header text-4xl font-semibold flex flex-col w-max">Contact</h1>
    <p class="text-lg">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
</section>
<style>
  .header::after {
    content: "";
    width: 40%;
    background-color: #3aa7e2;
    height: 4px;
    margin-block: 1.5rem;
  }
</style>
