<section class="mt-12 py-12 px-6
  sm:px-24
  md:px-36 bg-[#f4fafd]">
	<div class="mb-12">
		<h1 class="header text-4xl font-semibold flex flex-col w-max">Gallery</h1>
		<p class="text-lg">
			Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
			aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
			quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
			sit in iste officiis commodi quidem hic quas.
		</p>
	</div>
	<nav class="flex justify-center">
		<ul class="flex gap-x-5">
			<li class="hover:text-[#149ddd] cursor-pointer">ALL</li>
			<li class="hover:text-[#149ddd] cursor-pointer">APP</li>
			<li class="hover:text-[#149ddd] cursor-pointer">PRODUCT</li>
			<li class="hover:text-[#149ddd] cursor-pointer">BRANDING</li>
			<li class="hover:text-[#149ddd] cursor-pointer">BOOKS</li>
		</ul>
	</nav>

	<div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.jpg" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.png" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.jpg" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.png" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.jpg" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.png" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.jpg" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.png" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="relative max-h-[25rem] overflow-hidden">
			<div class="transition-transform hover:scale-125">
				<span class="absolute inset-0 bg-[rgba(0,0,0,0.6)]"></span>
				<img src="/images/photograph.jpg" class="w-full h-full object-cover" />
			</div>
		</div>
	</div>
</section>
<style>
	.header::after {
		content: '';
		width: 40%;
		background-color: #3aa7e2;
		height: 4px;
		margin-block: 1.5rem;
	}
</style>
