---

---

<section
  style={{ backgroundImage: "url(/images/hero-image.jpg)" }}
  class="h-screen w-full bg-no-repeat bg-cover bg-center flex items-center px-6
  sm:px-24
  md:px-36"
>
  <div class="space-y-4">
    <h1 class="text-white text-6xl font-bold">Alex Smith</h1>
    <h2 class="text-white text-3xl font-medium">
      I'm <span
        id="auto-type"
        class="underline decoration-[#149ddd] underline-offset-[8px]"></span>
    </h2>
  </div>
</section>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var typed = new Typed("#auto-type", {
      strings: ["Designer", "Developer", "Freelancer", "Photographer"],
      typeSpeed: 50,
      backSpeed: 50,
      loop: true,
    });
  });
</script>
