<section class="mt-12 py-12 px-6
  sm:px-24
  md:px-36 bg-[#f4fafd]">
  <div class="mb-12">
    <h1 class="header text-4xl font-semibold flex flex-col w-max">Portfolio</h1>
    <p class="text-lg">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
      quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
      sit in iste officiis commodi quidem hic quas.
    </p>
  </div>
  <nav class="flex justify-center">
    <ul class="flex gap-x-5">
      <li class="hover:text-[#149ddd] cursor-pointer">ALL</li>
      <li class="hover:text-[#149ddd] cursor-pointer">APP</li>
      <li class="hover:text-[#149ddd] cursor-pointer">PRODUCT</li>
      <li class="hover:text-[#149ddd] cursor-pointer">BRANDING</li>
      <li class="hover:text-[#149ddd] cursor-pointer">BOOKS</li>
    </ul>
  </nav>
</section>
<style>
  .header::after {
    content: "";
    width: 40%;
    background-color: #3aa7e2;
    height: 4px;
    margin-block: 1.5rem;
  }
</style>
