<div
  class="container px-6 sm:px-24
  md:px-36 bg-white p-8 lg:columns-2"
  style={{ breakInside: "avoid" }}
>
  <!-- Summary Section -->

  <section class="mb-8">
    <h2 class="text-2xl font-bold pb-2 mb-4">Summary</h2>
    <div class="timeline">
      <div class="timeline-entry">
        <p class="uppercase text-lg text-gray-500">BRANDON JOHNSON</p>
        <p class="mt-2 italic">
          Innovative and deadline-driven Graphic Designer with 3+ years of
          experience designing and developing user-centered digital/print
          marketing material from initial concept to final, polished
          deliverable.
        </p>
        <ul class="mt-4 mx-4">
          <li class="list-disc">Portland par 127, Orlando, FL</li>
          <li class="list-disc">(123) 456-7891</li>
          <li class="list-disc">alice.barkley@example.com</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Education Section -->
  <section class="mb-8">
    <h2 class="text-2xl font-bold pb-2 mb-4">Education</h2>
    <div class="timeline">
      <div class="timeline-entry space-y-2">
        <p class="uppercase text-lg text-gray-500">
          Master of Fine Arts & Graphic Design
        </p>
        <p class="text-sm font-semibold pl-4">2015 - 2016</p>
        <p class="italic">Rochester Institute of Technology, Rochester, NY</p>
        <p class="text-gray-600">
          Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam...
        </p>
      </div>
      <div class="timeline-entry space-y-2">
        <p class="uppercase text-lg text-gray-500">
          Bachelor of Fine Arts & Graphic Design
        </p>
        <p class="text-sm font-semibold pl-4">2010 - 2014</p>
        <p class="italic">Rochester Institute of Technology, Rochester, NY</p>
        <p class="text-gray-600">
          Quia nobis sequi est occaecati aut. Repudiandae et iusto quae
          reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates
          asperiores voluptatem Earum molestiae consequatur neque etlon sader
          mart dila
        </p>
      </div>
    </div>
  </section>

  <!-- Professional Experience Section -->
  <section>
    <h2 class="text-2xl font-bold pb-2 mb-7">Professional Experience</h2>
    <div class="timeline flex flex-col justify-between">
      <div class="timeline-entry space-y-2">
        <p class="uppercase text-lg text-gray-500">
          Senior Graphic Design Specialist
        </p>
        <p class="text-sm font-semibold pl-4">2019 - Present</p>
        <p class="italic">Experion, New York, NY</p>
        <ul class="mt-2 space-y-1 mx-4">
          <li class="list-disc">
            Lead in the design, development, and implementation of graphic,
            layout, and production communication materials.
          </li>
          <li class="list-disc">
            Delegate tasks to 7 members of the design team.
          </li>
          <li class="list-disc">
            Supervise the assessment of all graphic materials to ensure quality
            and accuracy.
          </li>
          <li>Oversee project budgets ranging from $2,000 to $25,000.</li>
        </ul>
      </div>
      <div class="timeline-entry space-y-2">
        <p class="uppercase text-lg text-gray-500">Graphic Design Specialist</p>
        <p class="text-sm font-semibold pl-4">2017 - 2018</p>
        <p class="italic">Stepping Stone Advertising, New York, NY</p>
        <ul class="mt-2 space-y-1 mx-4">
          <li class="list-disc">
            Developed marketing programs including logos, brochures,
            infographics, presentations, and advertisements.
          </li>
          <li class="list-disc">
            Managed up to 5 projects at a time under pressure.
          </li>
          <li class="list-disc">
            Consulted with clients on the most appropriate graphic design for
            projects.
          </li>
          <li class="list-disc">
            Created 4+ design presentations and proposals a month for clients
            and managers.
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<style>
  .timeline {
    position: relative;
    padding-left: 2.5rem;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2px;
    height: 100%;
    background-color: #cbd5e1;
  }

  .timeline-entry {
    position: relative;
    margin-bottom: 2rem;
  }

  .timeline-entry::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: -1.825rem;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #1d4ed8;
    border-radius: 9999px;
    background-color: white;
  }
</style>
