<section class="my-16 mx-6
  sm:mx-24
  md:mx-36">
  <div class="mb-16">
    <h1 class="header text-4xl font-semibold flex flex-col w-max">Services</h1>
    <p class="text-lg">
      Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
      aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
      quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
      sit in iste officiis commodi quidem hic quas.
    </p>
  </div>
  <div
    class="grid gap-x-4 gap-y-8"
    style={{
      gridTemplateColumns: "repeat(auto-fit, minmax(250px, 1fr))",
    }}
  >
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Lorem Ipsum</h3>
        <p class="text-sm">
          Voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi sint occaecati cupiditate non provident
        </p>
      </div>
    </div>
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Dolor Sitema</h3>
        <p class="text-sm">
          Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat tarad limino ata
        </p>
      </div>
    </div>
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Sed ut perspiciatis</h3>
        <p class="text-sm">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur
        </p>
      </div>
    </div>
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Magni Dolores</h3>
        <p class="text-sm">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Nemo Enim</h3>
        <p class="text-sm">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque
        </p>
      </div>
    </div>
    <div class="flex">
      <div
        class="rounded-full flex justify-center items-center bg-[#3aa7e2] h-12 w-12 border-[#3aa7e2] border-2"
      >
        <i class="fa-light fa-face-smile text-3xl mwt-2 p-2"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg font-semibold mb-2">Eliusmod Tempor</h3>
        <p class="text-sm">
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero
          tempore, cum soluta nobis est eligendi
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .header::after {
    content: "";
    width: 40%;
    background-color: #3aa7e2;
    height: 4px;
    margin-block: 1.5rem;
  }
</style>
