---
const userRemarks = [
  {
    user: "luigi",
    position: "CEO",
    remark:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cupiditate ex ut voluptas, quasi quos praesentium reprehenderit unde, ad blanditiis ipsa. Commodi et deserunt voluptate aperiam possimus, labore excepturi maxime.",
  },
  {
    user: "mario",
    position: "CEO",
    remark:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cupiditate ex ut voluptas, quasi quos praesentium reprehenderit unde, ad blanditiis ipsa. Commodi et deserunt voluptate aperiam possimus, labore excepturi maxime.",
  },
  {
    user: "chun-li",
    position: "CEO",
    remark:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cupiditate ex ut voluptas, quasi quos praesentium reprehenderit unde, ad blanditiis ipsa. Commodi et deserunt voluptate aperiam possimus, labore excepturi maxime.",
  },
  ,
  {
    user: "ninja",
    position: "CEO",
    remark:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cupiditate ex ut voluptas, quasi quos praesentium reprehenderit unde, ad blanditiis ipsa. Commodi et deserunt voluptate aperiam possimus, labore excepturi maxime.",
  },
  {
    user: "side",
    position: "CEO",
    remark:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cupiditate ex ut voluptas, quasi quos praesentium reprehenderit unde, ad blanditiis ipsa. Commodi et deserunt voluptate aperiam possimus, labore excepturi maxime.",
  },
];
---

<section class="mt-12 py-12 px-6
  sm:px-24
  md:px-36 bg-[#f4fafd]">
  <div class="mb-12">
    <h1 class="header text-4xl font-semibold flex flex-col w-max">
      Testimonial
    </h1>
    <p class="text-lg">
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
</section>
<style>
  .header::after {
    content: "";
    width: 40%;
    background-color: #3aa7e2;
    height: 4px;
    margin-block: 1.5rem;
  }
</style>
